number:
  # These persistently store the calibration state, accessible via the REST API
  - platform: template
    name: "${name} Cal Voltage Meas Factor"  # multiply measured volts by this to get true volts
    internal: true
    id: kCalVoltageFactor
    min_value: 0
    max_value: 2
    step: 0.0001
    initial_value: 1
    restore_value: true
    set_action:
      - then:
        - lambda: id(kCalVoltageFactor).publish_state(x);
  - platform: template
    name: "${name} Cal Voltage Meas Offset"  # add to measured volts (post-scaling) to get true volts
    internal: true
    id: kCalVoltageOffset
    min_value: -1
    max_value: 1
    step: 0.0001
    initial_value: 0
    restore_value: true
    set_action:
      - then:
        - lambda: id(kCalVoltageOffset).publish_state(x);
  - platform: template
    name: "${name} Cal Voltage Set Factor"  # multiply by set volts to get true volts
    internal: true
    id: kCalSetVoltageFactor
    min_value: 0
    max_value: 2
    step: 0.0001
    initial_value: 1
    restore_value: true
    set_action:
      - then:
        - lambda: id(kCalSetVoltageFactor).publish_state(x);
  - platform: template
    name: "${name} Cal Voltage Set Offset"  # add to set volts to get true volts
    internal: true
    id: kCalSetVoltageOffset
    min_value: -1
    max_value: 1
    step: 0.0001
    initial_value: 0
    restore_value: true
    set_action:
      - then:
        - lambda: id(kCalSetVoltageOffset).publish_state(x);
  - platform: template
    name: "${name} Cal Voltage Fine Set Factor"
    internal: true
    id: kCalSetVoltageFineFactor
    min_value: 0
    max_value: 2
    step: 0.0001
    initial_value: 1
    restore_value: true
    set_action:
      - then:
        - lambda: id(kCalSetVoltageFineFactor).publish_state(x);

  - platform: template
    name: "${name} Cal Current0 Meas Factor"  # multiply measured amps by this to get true amps
    internal: true
    id: kCalCurrent0Factor
    min_value: 0
    max_value: 2
    step: 0.0001
    initial_value: 1
    restore_value: true
    set_action:
      - then:
        - lambda: id(kCalCurrent0Factor).publish_state(x);
  - platform: template
    name: "${name} Cal Current0 Meas Offset"  # add to measured amps (post-scaling) to get true amps
    internal: true
    id: kCalCurrent0Offset
    min_value: -1
    max_value: 1
    step: 0.0001
    initial_value: 0
    restore_value: true
    set_action:
      - then:
        - lambda: id(kCalCurrent0Offset).publish_state(x);
  - platform: template
    name: "${name} Cal Current0 Set Factor"  # multiply by set amps to get true amps - note varies with voltage!
    internal: true
    id: kCalSetCurrent0Factor
    min_value: 0
    max_value: 2
    step: 0.0001
    initial_value: 1
    restore_value: true
    set_action:
      - then:
        - lambda: id(kCalSetCurrent0Factor).publish_state(x);
  - platform: template
    name: "${name} Cal Current0 Set Offset"  # add to set amps to get true amps
    internal: true
    id: kCalSetCurrent0Offset
    min_value: -1
    max_value: 1
    step: 0.0001
    initial_value: 0
    restore_value: true
    set_action:
      - then:
        - lambda: id(kCalSetCurrent0Offset).publish_state(x);

  - platform: template
    name: "${name} Cal Current1 Meas Factor"
    internal: true
    id: kCalCurrent1Factor
    min_value: 0
    max_value: 2
    step: 0.0001
    initial_value: 1
    restore_value: true
    set_action:
      - then:
        - lambda: id(kCalCurrent1Factor).publish_state(x);
  - platform: template
    name: "${name} Cal Current1 Meas Offset"
    internal: true
    id: kCalCurrent1Offset
    min_value: -1
    max_value: 1
    step: 0.0001
    initial_value: 0
    restore_value: true
    set_action:
      - then:
        - lambda: id(kCalCurrent1Offset).publish_state(x);
  - platform: template
    name: "${name} Cal Current1 Set Factor"
    internal: true
    id: kCalSetCurrent1Factor
    min_value: 0
    max_value: 2
    step: 0.0001
    initial_value: 1
    restore_value: true
    set_action:
      - then:
        - lambda: id(kCalSetCurrent1Factor).publish_state(x);
  - platform: template
    name: "${name} Cal Current1 Set Offset"
    internal: true
    id: kCalSetCurrent1Offset
    min_value: -1
    max_value: 1
    step: 0.0001
    initial_value: 0
    restore_value: true
    set_action:
      - then:
        - lambda: id(kCalSetCurrent1Offset).publish_state(x);

  - platform: template
    name: "${name} Cal Current2 Meas Factor"
    internal: true
    id: kCalCurrent2Factor
    min_value: 0
    max_value: 2
    step: 0.0001
    initial_value: 1
    restore_value: true
    set_action:
      - then:
        - lambda: id(kCalCurrent2Factor).publish_state(x);
  - platform: template
    name: "${name} Cal Current2 Meas Offset"
    internal: true
    id: kCalCurrent2Offset
    min_value: -1
    max_value: 1
    step: 0.0001
    initial_value: 0
    restore_value: true
    set_action:
      - then:
        - lambda: id(kCalCurrent2Offset).publish_state(x);
  - platform: template
    name: "${name} Cal Current2 Set Factor"
    internal: true
    id: kCalSetCurrent2Factor
    min_value: 0
    max_value: 2
    step: 0.0001
    initial_value: 1
    restore_value: true
    set_action:
      - then:
        - lambda: id(kCalSetCurrent2Factor).publish_state(x);
  - platform: template
    name: "${name} Cal Current2 Set Offset"
    internal: true
    id: kCalSetCurrent2Offset
    min_value: -1
    max_value: 1
    step: 0.0001
    initial_value: 0
    restore_value: true
    set_action:
      - then:
        - lambda: id(kCalSetCurrent2Offset).publish_state(x);

  # these are workarounds for hardware limitations that should get addressed in a future spin
  # these all operate directly on ADC and DAC ratios and are pre-conversion to actual units
  # and the associated calibrations
  # the calibration offsets are zero at zero and do not contribute a static offset
  # (so there is no offset term for these calibrations)
  # these calibrate out the voltage drop across the HV -> LV protection circuit
  # these are multiplied by difference between the ADC reading and DAC setting ratio
  - platform: template
    name: "${name} Cal Current Set Source Factor"
    internal: true
    id: kCalCurrentSetSourceFactor
    min_value: -1
    max_value: 1
    step: 0.0000001
    initial_value: 0
    restore_value: true
    set_action:
      - then:
        - lambda: id(kCalCurrentSetSourceFactor).publish_state(x);
  - platform: template
    name: "${name} Cal Current Set Sink Factor"
    internal: true
    id: kCalCurrentSetSinkFactor
    min_value: -1
    max_value: 1
    step: 0.0000001
    initial_value: 0
    restore_value: true
    set_action:
      - then:
        - lambda: id(kCalCurrentSetSinkFactor).publish_state(x);
        
  # this calibrates out common-mode voltage bleed into the current measurement
  # this is multiplied by the voltage ADC ratio and added to the current ratio
  - platform: template
    name: "${name} Cal Current Common Factor"
    internal: true
    id: kCalCurrentCommonFactor
    min_value: -1
    max_value: 1
    step: 0.0000001
    initial_value: 0
    restore_value: true
    set_action:
      - then:
        - lambda: id(kCalCurrentCommonFactor).publish_state(x);
