# these are sensors for characterization (not core to SMU functionality)

sensor:
  # these are disabled to avoid ADC time when not being used
  # - platform: mcp3561
  #   id: meas_vcenter
  #   name: "${name} Int VCenter"
  #   # internal: true
  #   update_interval: 0.01s  # as fast as possible, limited by ADC conversion time
  #   accuracy_decimals: 5
  #   mcp3561_id: adc_meas
  #   channel: CH2
  #   channel_neg: AGND
  #   filters:
  #     - lambda: |-
  #         id(adc_vcenter).publish_state(id(meas_vcenter).rawValue);
  #         return x;
  # - platform: template
  #   name: "${name} ADC Int VCenter"
  #   id: adc_vcenter
  #   accuracy_decimals: 0
  #   internal: true

  # - platform: mcp3561
  #   id: meas_avdd_1_3
  #   name: "${name} Int AVdd 1/3"
  #   # internal: true
  #   update_interval: 0.01s  # as fast as possible, limited by ADC conversion time
  #   accuracy_decimals: 5
  #   mcp3561_id: adc_meas
  #   channel: AVDD
  #   channel_neg: AGND
  #   gain: X1/3
  #   filters:
  #     - lambda: |-
  #         id(adc_avdd_1_3).publish_state(id(meas_avdd_1_3).rawValue);
  #         return x;
  # - platform: template
  #   name: "${name} ADC Int AVdd 1/3"
  #   id: adc_avdd_1_3
  #   accuracy_decimals: 0
  #   internal: true

  - platform: combination
    name: "${name} Meas Voltage Noise"
    type: sum  # dummy
    internal: true
    accuracy_decimals: 6
    sources:
      - source: meas_voltage
    filters:
      - range:
          window_size: 100
          send_every: 10
  - platform: combination
    name: "${name} Meas Current Noise"
    type: sum  # dummy
    internal: true
    accuracy_decimals: 7
    sources:
      - source: meas_current
    filters:
      - range:
          window_size: 100
          send_every: 10

  - platform: combination
    name: "${name} Meas Voltage ADC Noise"
    type: sum  # dummy
    # internal: true
    accuracy_decimals: 1
    unit_of_measurement: bits
    sources:
      - source: adc_voltage
    filters:
      - range:
          window_size: 100
          send_every: 10
      - lambda: return log2(x);
  - platform: combination
    name: "${name} Meas Current ADC Noise"
    type: sum  # dummy
    # internal: true
    accuracy_decimals: 1
    unit_of_measurement: bits
    sources:
      - source: adc_current
    filters:
      - range:
          window_size: 100
          send_every: 10
      - lambda: return log2(x);

  # - platform: combination
  #   name: "${name} Int VCenter ADC Noise"
  #   type: sum  # dummy
  #   # internal: true
  #   accuracy_decimals: 1
  #   unit_of_measurement: bits
  #   sources:
  #     - source: adc_vcenter
  #   filters:
  #     - range:
  #         window_size: 100
  #         send_every: 10
  #     - lambda: return log2(x);
  # - platform: combination
  #   name: "${name} Int AVdd 1/3 ADC Noise"
  #   type: sum  # dummy
  #   # internal: true
  #   accuracy_decimals: 1
  #   unit_of_measurement: bits
  #   sources:
  #     - source: adc_avdd_1_3
  #   filters:
  #     - range:
  #         window_size: 100
  #         send_every: 10
  #     - lambda: return log2(x);
