# hardware UI like displays, LEDs, and buttons, and supporting state

globals:
  - id: cursor
    type: int
    initial_value: '0'  # 0 = voltage, 1 = current lim max, 2 = current lim min, 3 = range, 4 = reset integrators
  - id: cursorDigit
    type: int[5]
    initial_value: '{-1, -1, -1, 0, 0}'
  - id: kCursorDigitLimits
    type: int[5][2]
    initial_value: '{{{-1, 1}, {-2, 0}, {-2, 0}, {0, 0}, {0, 0}}}'

light:
  - platform: esp32_rmt_led_strip
    id: npx
    rgb_order: GRB
    chipset: SK6812
    pin: GPIO38
    num_leds: 6
    name: "${name} Neopixels"
    initial_state:
      state: ON
    restore_mode: RESTORE_AND_ON  # persistent brightness settings
    default_transition_length: 0s  # instantaneous
    effects:
      - addressable_lambda:
          name: "Smu"
          update_interval: 50ms
          lambda: |-
            it.all() = Color(0, 0, 0, 0);

            if (!id(conv_en_sense).state) {  // OVP trip makes input LED go red
              it[5] = Color(255, 0, 0, 0);
            } else {  // otherwuse USB-PD state
              switch (id(usbpd).get_state()) {
                case UsbPdStateMachine::kConnected: it[5] = Color(0, 255, 0, 0); break;
                default: it[5] = Color(255, 255, 0, 0);
              }
            }

            if (id(enable).state) {
              if (id(control_limit_source).state) {
                it[4] = Color(255, 255, 0, 0);

                it[1] = Color(255, 0, 0, 0);
                it[3] = Color(0, 0, 0, 0);
              } else if (id(control_limit_sink).state) {
                it[4] = Color(255, 255, 0, 0);

                it[1] = Color(0, 0, 0, 0);
                it[3] = Color(255, 0, 0, 0);
              } else {  // voltage mode
                it[4] = Color(0, 255, 0, 0);

                it[1] = Color(0, 0, 0, 0);
                it[3] = Color(0, 0, 0, 0);
              }
            } else {
              it[4] = Color(127, 0, 127, 0);  // dim purple for off
            }
      - addressable_rainbow:
          name: Rainbow  # for testing only
    on_turn_on:
      - light.turn_on:
          id: npx
          effect: "Smu"
  - platform: status_led
    name: "${name} Dbg"
    id: debug_led
    internal: true
    pin:
      number: GPIO0
      inverted: true

font:
  - file: "resources/4x6.bdf"  # characters actually 3x5 plus 1px descender
    id: bdf4x6
  - file: "resources/6x10.bdf"  # characters actually 5x7 plus 2px descender
    id: bdf6x10
    
display:
  - platform: ssd1306_i2c
    model: "SSD1306 128x64"
    address: 0x3c
    reset_pin: GPIO12
    update_interval : 200ms
    lambda: |-
      int baseline, unitsBaseline, dummy;
      id(bdf6x10)->measure("X", &dummy, &dummy, &baseline, &dummy);
      id(bdf4x6)->measure("X", &dummy, &dummy, &unitsBaseline, &dummy);
      int unitsOffsY = baseline - unitsBaseline - 1;

      // MEASUREMENT SECTION
      it.printf(0, 0, id(bdf6x10), "MES");

      int measureY = 0;
      int voltageX = 4*6, currentX = 76;
      int voltageUnitsX = voltageX + 6*6 + 4, currentUnitsX = currentX + 7*6 + 4 + 2;
      drawValue(it, voltageX, measureY, id(bdf6x10), 2, 3, id(meas_voltage).get_state());
      it.print(voltageUnitsX, measureY + unitsOffsY, id(bdf4x6), "V");
      int currentDigitsDecimal = 4;
      if (id(current_range).current_option() == "300mA" || id(current_range).current_option() == "30mA") {
        currentDigitsDecimal = 5;
      }
      drawValue(it, currentX, measureY, id(bdf6x10), 1, currentDigitsDecimal, id(meas_current).get_state());
      it.print(currentUnitsX, measureY + unitsOffsY, id(bdf4x6), "A");
      
      drawValue(it, voltageX, measureY + 10, id(bdf6x10), 2, 3, id(deriv_power).get_state());
      it.print(voltageUnitsX, measureY + 10 + unitsOffsY, id(bdf4x6), "W");

      drawValue(it, currentX, measureY + 10, id(bdf6x10), 4, 2, id(deriv_energy).get_state());
      if (id(cursor) == 4) {
        drawInverted(it, currentUnitsX, measureY + 10 + unitsOffsY, id(bdf4x6), "J");
      } else {
        it.print(currentUnitsX, measureY + 10 + unitsOffsY, id(bdf4x6), "J");
      }

      // SETPOINT SECTION
      int setY = 26;
      it.print(0, setY, id(bdf6x10), id(enable).state ? "ON " : "OFF");
      
      drawValue(it, voltageX, setY, id(bdf6x10), 2, 1, id(set_voltage).state, id(cursor) == 0 ? id(cursorDigit)[0] : -128);
      it.print(voltageUnitsX, setY + unitsOffsY, id(bdf4x6), "V");

      currentDigitsDecimal = 2;
      if (id(current_range).current_option() == "300mA" || id(current_range).current_option() == "30mA") {
        currentDigitsDecimal = 3;
      }
      drawValue(it, currentX, setY, id(bdf6x10), 1, currentDigitsDecimal, id(limit_current_max).state, id(cursor) == 1 ? id(cursorDigit)[1] : -128);
      drawValue(it, currentX, setY + 10, id(bdf6x10), 1, currentDigitsDecimal, id(limit_current_min).state, id(cursor) == 2 ? id(cursorDigit)[2] : -128);
      
      it.print(currentUnitsX, setY + unitsOffsY, id(bdf4x6), "A");
      it.print(currentUnitsX, setY + 10 + unitsOffsY, id(bdf4x6), "A");

      if (id(cursor) == 3) {
        drawInverted(it, voltageUnitsX - 8, setY + 10, id(bdf6x10), TextAlign::TOP_RIGHT, id(current_range).current_option());
      } else {
        it.print(voltageUnitsX - 8, setY + 10, id(bdf6x10), TextAlign::TOP_RIGHT, id(current_range).current_option());
      }
      it.print(voltageUnitsX - 8, setY + 10 + unitsOffsY, id(bdf4x6), "Rng");

      // DEVICE INFO
      bool uncal = false;
      if (id(kCalVoltageFactor).state == 1 || id(kCalVoltageOffset).state == 0 || id(kCalSetVoltageFactor).state == 1 || id(kCalSetVoltageOffset).state == 0 ||
          id(kCalCurrent0Factor).state == 1 || id(kCalCurrent0Offset).state == 0 || id(kCalSetCurrent0Factor).state == 1 || id(kCalSetCurrent0Offset).state == 0) {
        // TODO currently ignores the current 1 range since it's not supported on most boards
        uncal = true;
      }

      char wifiSsidTrunc[16] = {0};
      strncpy(wifiSsidTrunc, WiFi.SSID().c_str(), 15);
      it.print(0, 64-6, id(bdf4x6), TextAlign::BOTTOM_LEFT, wifiSsidTrunc);
      it.print(0, 64, id(bdf4x6), TextAlign::BOTTOM_LEFT, WiFi.localIP().toString().c_str());

      it.printf(128, 64-6, id(bdf4x6), TextAlign::BOTTOM_RIGHT, "%sDucky SMU", uncal ? "-- UNCAL --  " : "");

      const char* pdState;
      switch (id(usbpd).get_state()) {
        case UsbPdStateMachine::kConnected: pdState = "PD"; break;
        default: pdState = "  ";
      }
      it.printf(128 - 4, 64, id(bdf4x6), TextAlign::BOTTOM_RIGHT, "%s %2.0fv %2.f,%2.fc", pdState, id(fusb_vbus).get_state(), id(temp_buckboost).state, id(temp_fets).state);
      if (millis() % 1000 >= 500) {
        it.print(128, 64, id(bdf4x6), TextAlign::BOTTOM_RIGHT, ".");  // liveness indicator
      }

binary_sensor:
  - platform: gpio
    id: encoder_sw
    name: "${name} Encoder Sw"
    internal: true
    pin: 
      number: GPIO40
      inverted: true
      mode:
        input: true
        pullup: true
    filters:
      - delayed_on: 10ms
    on_click:
    - then:
        - switch.toggle: enable
  - platform: gpio
    id: dir_sw
    name: "${name} Dir Sw"
    internal: true
    pin: 
      pca9554: ioe_ui
      number: 1
      inverted: true
      mode:
        input: true
    filters:
      - delayed_on: 10ms
    on_click:
    - then:
        - lambda: |-
            if (id(cursor) == 4) {
              id(integrator_reset).press();
            }
  - platform: gpio
    name: "${name} Dir Up"
    internal: true
    pin: 
      pca9554: ioe_ui
      number: 0
      inverted: true
      mode:
        input: true
    filters:
      - delayed_on: 10ms
    on_click:
    - then:
        - lambda: |-
            const size_t choices = sizeof(id(cursorDigit)) / sizeof(id(cursorDigit)[0]);
            id(cursor) = (id(cursor) - 1 + choices) % choices;  // signed modulo is undefined
  - platform: gpio
    name: "${name} Dir Down"
    internal: true
    pin: 
      pca9554: ioe_ui
      number: 3
      inverted: true
      mode:
        input: true
    filters:
      - delayed_on: 10ms
    on_click:
    - then:
        - lambda: |-
            id(cursor) = (id(cursor) + 1) % (sizeof(id(cursorDigit)) / sizeof(id(cursorDigit)[0]));
  - platform: gpio
    name: "${name} Dir Left"
    internal: true
    pin: 
      pca9554: ioe_ui
      number: 2
      inverted: true
      mode:
        input: true
    filters:
      - delayed_on: 10ms
    on_click:
    - then:
        - lambda: |-
            id(cursorDigit)[id(cursor)] = min(id(cursorDigit)[id(cursor)] + 1, id(kCursorDigitLimits)[id(cursor)][1]);
            if (id(cursor) == 3) {
              auto index = id(current_range).active_index();
              if (index.has_value()) {
                id(current_range)->make_call().set_index(index.value() - 1).perform();
              }
            } else if (id(cursor) == 4) {
              id(integrator_reset).press();
            }
  - platform: gpio
    name: "${name} Dir Right"
    internal: true
    pin: 
      pca9554: ioe_ui
      number: 7
      inverted: true
      mode:
        input: true
    filters:
      - delayed_on: 10ms
    on_click:
    - then:
        - lambda: |-
            id(cursorDigit)[id(cursor)] = max(id(cursorDigit)[id(cursor)] - 1, id(kCursorDigitLimits)[id(cursor)][0]);
            if (id(cursor) == 3) {
              auto index = id(current_range).active_index();
              if (index.has_value()) {
                id(current_range)->make_call().set_index(index.value() + 1).perform();
              }
            } else if (id(cursor) == 4) {
              id(integrator_reset).press();
            }

sensor:
  - platform: rotary_encoder
    id: encoder
    name: "${name} Encoder"
    restore_mode: ALWAYS_ZERO
    internal: true
    resolution: 2  # so each detent generates one action
    pin_a:
      number: GPIO42
      inverted: true
      mode:
        input: true
        pullup: true
    pin_b:
      number: GPIO41
      inverted: true
      mode:
        input: true
        pullup: true
    on_clockwise:
    - then:
        - lambda: |-
            float increment = pow(10, id(cursorDigit)[id(cursor)]);
            if (id(cursor) == 0) {
              id(set_voltage)->make_call().set_value(id(set_voltage)->state + increment).perform();
            } else if (id(cursor) == 1) {
              id(limit_current_max)->make_call().set_value(id(limit_current_max)->state + increment).perform();
            } else if (id(cursor) == 2) {
              id(limit_current_min)->make_call().set_value(id(limit_current_min)->state + increment).perform();
            }
    on_anticlockwise:
    - then:
        - lambda: |-
            float increment = -pow(10, id(cursorDigit)[id(cursor)]);
            if (id(cursor) == 0) {
              id(set_voltage)->make_call().set_value(id(set_voltage)->state + increment).perform();
            } else if (id(cursor) == 1) {
              id(limit_current_max)->make_call().set_value(id(limit_current_max)->state + increment).perform();
            } else if (id(cursor) == 2) {
              id(limit_current_min)->make_call().set_value(id(limit_current_min)->state + increment).perform();
            }
